* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

nav img {
  max-width: 100px;
  height:70px;
  margin-right: 10px; 
}

.heading1 {
  flex-grow: 1; 
  font-size: 24px;
  text-align: center; 
  color: #333;
}

